.App {
  position: relative;
  background-color: var(--background-1);
  
}

:root {
  /* Bacground colors */
  --background-1: #FFFFFF;
  --background-2: #D9D9D9;
  --background-3: #1E1E1E;
  --background-4: #54777C;
  --background-5: #F5F5F5;

  /* font colors */
  --font-1: #000000;
  --font-2: white;
}

.NAVBAR {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.SIDENAV {
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 1000;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cursor:hover {
  cursor: pointer;
}